/* Frappe Catpuccin */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

h2 {
  font-family: "Fira Code", monospace;
  font-variant-ligatures: common-ligatures;
}

body {
  background-color: #000000;
  font-family: "Consolas", monospace;
  color: #c6d0f5;
  text-align: center;
}


#banner {
  font-size: 20px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#banner-text {
  font-size: 15px;
}

li a {
  color: #c6d0f5;
}

a {
  color: #dee2e6;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-left: -40px;
}

li a {
  font-style: italic;
}

div h1 {
  text-align: center;
}

#projects-container, #links-container {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#links-container {
  float: center;
}

#projects-container {
  text-align: center;
  float: center;
}

#project-1, #project-2, #project-3 {
  display: inline-block;
  border: 2px solid #babbf1;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  padding-bottom: 10px;

  width: 300px;
  transition: all 0.5s ease;
}

#projects {
  display: flexbox;
  text-align: center;
}

button {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #393f44;
  color: #c6d0f5;
  font-family: monospace;
  
  border: 1px solid #c6d0f5;
  border-radius: 2px;
  transition: all 0.5s ease;
}

#projects button {
  cursor: pointer;
}

/** TRANSITIONS **/

#project-1:hover, #project-2:hover, #project-3:hover {
  transform: scale(1.025);
  box-shadow: 0 0 20px #ffffff;
}

#project-1:hover::before, #project-2:hover::before, #project-3:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

button:hover {
  background-color: #15171f;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}